<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .cantain{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: wheat;
        }
    </style>
</head>
<body class="cantain">
   <h1>welcome</h1> 
   <h3>sachin</h3>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum odio veritatis, asperiores cupiditate, iure itaque nam aut natus possimus similique voluptatum sunt porro quam temporibus nulla voluptatem pariatur sint perspiciatis!</p>
</body>
</html>